# Windows trash files
Thumbs.db
ehthumbs.db
*.lnk

# macOS trash files (вдруг пригодится)
.DS_Store

# Python
__pycache__/
*.pyc

# Node
node_modules/

# VS Code settings
.vscode/

# Logs
*.log

# Build artifacts
dist/
build/
